article {
  background-color: white;
  border-radius: 8px;
  padding: 30px;
  margin: 60px;
  color: map_get($colors, navy);

  .article-header {
    text-align: center;
    text-transform: uppercase;

    h2 {
      font-size: 3.6rem;
      font-weight: 700;
    }

    p {
      font-size: 1.8rem;
      font-weight: 300;
    }
  }
}