#Order Deny,Allow
#Deny from all

#ErrorDocument 403 /hsef/403.html
#
#<FilesMatch ^(index\.php)?$>
#  Order Allow,Deny
#  Allow from all
#</FilesMatch>
#
#<FilesMatch ^.*\.(css|js|map.css|html)$>
#  Order Allow,Deny
#  Allow from all
#</FilesMatch>

RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [QSA,L]