article {
  background-color: white;
  border-radius: 8px;
  padding: 30px;
  margin: 60px;
  color: map_get($colors, darkgreen);

  .article-header {
    text-align: center;
    text-transform: uppercase;
    font-size: 3.2rem;
    font-weight: 700;
    margin-bottom: 30px;
  }
}