article {
  background-color: white;
  border-radius: 8px;
  color: map_get($theme-colors, darkgreen);

  .article-header {
    text-align: center;
    text-transform: uppercase;
    font-size: 3.2rem;
    font-weight: 700;
    margin-bottom: 1.4rem;
  }
}