form {

  button, a.btn {
    border: none;
    background-color: map_get($theme-colors, darkgreen);
    padding: .8rem 1.8rem;
    border-radius: .4rem;
    color: white;
    font-weight: 600;
    font-size: 1.6rem;
  }
}