header {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  background-color: map_get($colors, darkgreen);
  padding: 30px;
  color: white;
  flex: 0 0 auto;

  h1 {
    font-weight: 700;
    text-transform: uppercase;
  }

  @include md_up {
    padding: 30px 10vw;
  }
}