// ================== COLORS ================= //

$colors: (
  navy: #2B3E50,
  teal: #1abc9c,
  fusia: #bf4a7d,
  aqua: #35adce,
  black: #1b1b1c,
  blue: #4682e2,
  royal: #0015ff,
  tan: #c4b09d,
  white: #ffffff,
  navy-slate: #1a252f,
  border: lightslategrey,
  error: #f2304d,
);

// ================ BREAKPOINTS ============== //

$breakpoints: (
  xs: 320px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1224px,
  xl2: 1424px,
  xl3: 1824px
);