*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

html {
  // Use the user's browser to determine base font-size. (default will calculate to 10px). Use rem units elsewhere.
  font-size: 62.5%;
  margin: 0;
}

body {
  box-sizing: border-box;
  border: none;
  margin: 0;
  background-color: white;
}