@include create_limit_width_utilities($breakpoints);

.row.no-gutters-r {
  margin-right: 0;

  & > [class^="col-"],
  & > [class*=" col-"] {
    padding-right: 0;
  }
}

.row.no-gutters-l {
  margin-left: 0;

  & > [class^="col-"],
  & > [class*=" col-"] {
    padding-left: 0;
  }
}

.row.no-gutters {
   margin-right: 0;
   margin-left: 0;

   & > [class^="col-"],
   & > [class*=" col-"] {
     padding-right: 0;
     padding-left: 0;
   }
 }