// ================== COLORS ================= //

$colors: (
  yellow: #eebb4d,
  darkgreen: #184d47,
  green: #96bb7c,
  lightgreen: #d6efc7,
  white: #ffffff,
  border: lightslategrey,
  error: #f2304d,
);

$theme-colors: (
        "gold": #eebb4d,
        "darkgreen": #184d47,
);

// ================ BREAKPOINTS ============== //

$breakpoints: (
  xs: 320px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1224px,
  xl2: 1424px,
  xl3: 1824px
);

// ================ OTHER ============== //

$top-margin: 5rem;