// ================== COLORS ================= //

$colors: (
  yellow: #eebb4d,
  darkgreen: #184d47,
  green: #96bb7c,
  lightgreen: #d6efc7,
  white: #ffffff,
);

// ================ BREAKPOINTS ============== //

$breakpoints: (
  xs: 320px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1224px,
  xl2: 1424px,
  xl3: 1824px
);