.custom-divider {
  margin: 1.25rem 0 1.5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &__line {
    width: 100%;
    max-width: 12rem;
    height: 0.4rem;
    background-color: map_get($colors, navy);
    border-radius: 1rem;
    border-color: map_get($colors, navy) !important;
  }

  &__icon {
    color: map_get($colors, navy) !important;
    font-size: 3.2rem;
    margin: -.2rem 1.5rem 0;
  }
}