.ui-helper-hidden-accessible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.ui-autocomplete.ui-menu {
  padding: 0;
  z-index: 1;
  max-width: 100%;
  border-width: 1px;
  border-style: solid;
  border-color: map_get($theme-colors, border);
  border-top: none;

  li.ui-menu-item {
    cursor: pointer;

    .ui-menu-item-wrapper {
      background: none;
      list-style: none;
      border: none;
      padding: 1.3rem;
      font-weight: 500;
      width: 100%;
      outline: none;
      font-size: 1.8rem;
      overflow: hidden;

      &:not(:last-child) {
        border-bottom: 1px solid map_get($theme-colors, border);
      }

      &.ui-state-active {
        background-color: transparentize(map-get($theme-colors, darkgreen), .2) !important;
        color: white;
      }

    }
  }
}