.data-table {
  margin-bottom: 1.2rem;

  .row {
    align-items: center;
    margin: .4rem 0;

    div {
      transition: all 0.4s ease;
    }

    &:not(:first-child) {
      border-radius: .4rem;
    }

    p {
      margin: 0;
    }

    &:nth-child(even):not(:last-child) {
      background-color: transparentize(map_get($colors, darkgreen), .8);
    }
  }
}