.deletion-modal {
  white-space: normal;
  overflow: auto;

  .alert {
    margin: -1rem;
    border-radius: 0;
    padding: 1.2rem 1.4rem;

    .alert-heading {
      display: flex;
      align-items: center;
      margin: 0;

      i {
        margin-right: .8rem;
      }
    }
  }

  .radio-btns {
    margin: 4rem 0;
    display: flex;
    flex-flow: column nowrap;

    .radio-btns-group {
      display: flex;
      flex-flow: row wrap;
      align-items: center;

      &:not(:first-child) {
        margin-top: 2rem;
      }

      label {
        margin-left: .8rem;
        font-weight: 800;
        margin-bottom: 0;
      }
    }
  }

  .additional-info {
    margin-left: 2.2rem;
    font-size: 1.3rem;
    white-space: normal !important;
    overflow: auto !important;;
  }

  .modal-footer {
    display: flex;
    flex-flow: column nowrap;
    text-align: left;

    input {
      border: 1px solid map-get($theme-colors, border) !important;
      padding: .4rem !important;
      font-size: 1.4rem !important;
      border-radius: .4rem !important;
      margin: 1rem 0 !important;

      &:focus {
        outline: unset !important;
      }
    }

    button {
      width: 100%;
      font-weight: 600;
    }
  }
}