.navbar-custom {
  background-color: map_get($colors, darkgreen) !important;

  .navbar-brand {
    font-size: 2.4rem;
    font-weight: 700;
    text-transform: uppercase;
    color: map_get($colors, yellow);
  }

  .navbar-toggler {
    border: .25rem solid map_get($colors, border);

    &-icon {
      font-size: 2rem;
    }
  }

  .navbar-nav {

    .navbar-text {
      border-bottom: 1px solid map_get($colors, border);
      max-width: 400px;
    }

    .nav-link {
      font-size: 1.8rem;
      font-weight: 600;
      color: map_get($colors, yellow);
    }
  }
}