.row.row-sliding {
  flex-wrap: nowrap;
  overflow-x: hidden;

  .slide-tray {
    display: flex;
    align-self: stretch;
    min-width: fit-content !important;
    padding: 0;
  }

  .tool-icon {
    cursor: pointer;
    padding: 1rem;
    font-size: 1.8rem;
    flex: 1 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 !important;

    &:first-child {
      border-top-left-radius: .4rem !important;
      border-bottom-left-radius: .4rem !important;
    }

    &:last-child {
      border-top-right-radius: .4rem !important;
      border-bottom-right-radius: .4rem !important;
    }

    &:focus,&:active {
      outline: 0;
    }
  }
}