.hsef {
  font-size: 1.4rem;
  min-height: calc(100vh - #{$top-margin});
  display: flex;
  flex-flow: column nowrap;

  main {
    article {
      .article-header {
        text-align: center;
      }
    }
  }
}